body {
  font-size: 1.4rem;
  font-family: $primary-font;
  line-height: 1;
  color: $title-color;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: 0;
  font-family: $primary-font;
  line-height: 1;
}

button {
  cursor: pointer;
}
