// Width / height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Absolute Center
@mixin absoluteCenter($direction: "left") {
  position: absolute;
  @if $direction == "left" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $direction == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

// Absolute Full
@mixin absoluteFull() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// flexBox Center
@mixin flexBox(
  $align-item: stretch,
  $justify-content: flex-start,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

// Backgound color
@mixin bgc($color: red) {
  background-color: $color;
}

// Media screen Max-width
@mixin maxWidth($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

// Media screen Min-width
@mixin minWidth($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// Hide scroll
@mixin hideScroll() {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

// Text clamp
@mixin textClamp($row: 1, $size: 100%) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: break-word;
  width: $size;
  max-width: $size;
}

// hover effect
@mixin hoverEffect($itemClass, $contentClass, $transform: "true") {
  #{$itemClass} {
    position: relative;
    z-index: 1;
    & > * {
      transition: all 0.25s linear;
      will-change: transform;
    }
    #{$contentClass} {
      @include absoluteFull();
      @include flexBox(center, center, column, wrap);
      background: linear-gradient(
        to bottom,
        rgba($primary-color, 0.85),
        rgba($secondary-color, 0.85)
      );
      color: white;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      text-align: center;
      padding: 2rem;
    }
    @if $transform == "true" {
      &::after {
        content: "";
        @include absoluteFull();
        @include bgc($third-color);
        z-index: -1;
      }
    }
    &:hover {
      #{$contentClass} {
        opacity: 1;
        visibility: visible;
      }
      @if $transform == "true" {
        & > * {
          transform: translate(-1rem, -1rem);
        }
      }
    }
  }
}

// Touch Slider Max-Width: 1023px
@mixin touchSlider($size: 80%, $gap: 2.5rem, $padding: 1rem) {
  grid-template-columns: unset;
  grid-column-gap: $gap;
  grid-auto-columns: $size;
  grid-auto-flow: column;
  overflow-x: auto;
  @include hideScroll();
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  padding: $padding;
  & > * {
    scroll-snap-align: center;
  }
}
