section.footer 
  .container 
    .footer-top 
      .footer-item 
        a(href="index.html").footer-heading.footer-heading--logo.title MoGo
        p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, eius cumque numquam eveniet molestiae debitis magnam accusantium velit consequatur impedit, quae sequi, corporis tempora ipsum perferendis dolore et esse nobis!
        p.footer-follower <strong>15k</strong> followers
        .footer-social 
          span.text.text--light-italic Follow Us: 
          ul.footer-social-list
            +footerSocialItem({
              href: "#",
              icon: "fab fa-facebook-f"
            })
            +footerSocialItem({
              href: "#",
              icon: "fab fa-twitter"
            })
            +footerSocialItem({
              href: "#",
              icon: "fab fa-instagram"
            })
            +footerSocialItem({
              href: "#",
              icon: "fab fa-pinterest-p"
            })
            +footerSocialItem({
              href: "#",
              icon: "fab fa-google-plus-g"
            })
            +footerSocialItem({
              href: "#",
              icon: "fab fa-youtube"
            })
            +footerSocialItem({
              href: "#",
              icon: "fab fa-dribbble"
            })
            +footerSocialItem({
              href: "#",
              icon: "fab fa-tumblr"
            })
        form.footer-form
          input.footer-form-input(type="email" placeholder="Your Email...")
          button.footer-form-button Subscribe
      .footer-item 
        h3.footer-heading.title Blogs 
        .footer-blog
          +footerBlogItem({
            src: "./images/img-blogs1.png",
            title: "Lorem ipsum dolor sit amet, consectetur adipiscing",
            date: "Jan 9, 2016",
            href: "#"
          })
          +footerBlogItem({
            src: "./images/img-blogs2.png",
            title: "Lorem ipsum dolor sit amet, consectetur adipiscing",
            date: "Jan 9, 2016",
            href: "#"
          })
          +footerBlogItem({
            src: "./images/img-blogs3.png",
            title: "Lorem ipsum dolor sit amet, consectetur adipiscing",
            date: "Jan 9, 2016",
            href: "#"
          })
      .footer-item 
        h3.footer-heading.title Instagram 
        .footer-instagram
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1585337913966-114ba3cf1f80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80", alt="")
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1452827073306-6e6e661baf57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80", alt="")
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1502977249166-824b3a8a4d6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80", alt="")
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1462524500090-89443873e2b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", alt="")
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1588477000993-460d2257f88a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", alt="")
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1548460464-2a68877c7a5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80", alt="")
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1560717789-0ac7c58ac90a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", alt="")
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1541878578057-63a626f9ed7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2099&q=80", alt="")
          .footer-instagram-image
            img(src="https://images.unsplash.com/photo-1469317835793-6d02c2392778?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80", alt="")
        a(href="#").footer-view-more View more photos
    .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>