section.people 
  .container 
    +blockBox({
      caption: "Happy client",
      title: "what people say"
    })
    ul.people-list 
      +peopleItem({
        src: "./images/img-people1.png",
        name: "Matthew Dix",
        job: "Graphic design",
        desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim."
      })
      +peopleItem({
        src: "./images/img-people2.png",
        name: "Matthew Dix",
        job: "Graphic design",
        desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim."
      })
      +peopleItem({
        src: "./images/img-people3.png",
        name: "Matthew Dix",
        job: "Graphic design",
        desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim."
      })
      +peopleItem({
        src: "./images/img-people4.png",
        name: "Matthew Dix",
        job: "Graphic design",
        desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim."
      })