section.team 
  .container 
    +blockBox({
      caption: "Who we are",
      title: "Meet out team", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    })
    .team-list
      +teamItem({
        src: "./images/img-team1.png",
        name: "Matthew Dix",
        job: "Graphic Design"
      })
        +teamSocial({
          facebook: "#",
          twitter: "#",
          pinterest: "#",
          instagram: "#",
        })
      +teamItem({
        src: "./images/img-team2.png",
        name: "Christopher cambell",
        job: "Branding/UX design"
      })
        +teamSocial({
          facebook: "#",
          twitter: "#",
          pinterest: "#",
          instagram: "#",
        })
      +teamItem({
        src: "./images/img-team3.png",
        name: "Michaef fertig",
        job: "Developer"
      })
        +teamSocial({
          facebook: "#",
          twitter: "#",
          pinterest: "#",
          instagram: "#",
        })
