section.testimonial 
  .container 
    .quote-container
      +quoteItem({
      src: "https://2sao.vietnamnetjsc.vn/images/2021/04/09/15/32/trieu-lo-tu-10.jpg",
      desc: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”",
      name: "Jon Doe",
      type: true
    })
      +quoteItem({
      src: "https://2sao.vietnamnetjsc.vn/images/2021/04/09/15/32/trieu-lo-tu-10.jpg",
      desc: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”",
      name: "Jon Doe",
      type: true
    })
      +quoteItem({
      src: "https://2sao.vietnamnetjsc.vn/images/2021/04/09/15/32/trieu-lo-tu-10.jpg",
      desc: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”",
      name: "Jon Doe",
      type: true
    })