section.wedo 
  .container 
    +blockBox({
      caption: "Service",
      title: "What we do",
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
    })
    .wedo-container 
      img.wedo-image(src="./images/img-wedo.png", alt="")
      .wedo-content 
        +wedoItem({
          src: "./images/img-wedo-icon1.png",
          title: "Photography",
          text: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi cupiditate voluptate, neque, facilis, eius quo modi molestias dicta qui similique magnam tempora officia esse accusantium doloribus quae asperiores error nisi! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium at, beatae consequatur nisi delectus omnis optio exercitationem similique id obcaecati non. Nulla ea ratione possimus aliquid, molestiae in dicta impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae esse, quo fugiat quaerat distinctio beatae iure repellendus rem natus quibusdam, quasi consequatur accusantium libero eius doloribus illum exercitationem eaque itaque!",
          active: "is-active"
        })
        +wedoItem({
          src: "./images/img-wedo-icon2.png",
          title: "Creativity",
          text: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi cupiditate voluptate, neque, facilis, eius quo modi molestias dicta qui similique magnam tempora officia esse accusantium doloribus quae asperiores error nisi! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium at, beatae consequatur nisi delectus omnis optio exercitationem similique id obcaecati non. Nulla ea ratione possimus aliquid, molestiae in dicta impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae esse, quo fugiat quaerat distinctio beatae iure repellendus rem natus quibusdam, quasi consequatur accusantium libero eius doloribus illum exercitationem eaque itaque!"
        })
        +wedoItem({
          src: "./images/img-wedo-icon3.png",
          title: "Web design",
          text: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi cupiditate voluptate, neque, facilis, eius quo modi molestias dicta qui similique magnam tempora officia esse accusantium doloribus quae asperiores error nisi! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium at, beatae consequatur nisi delectus omnis optio exercitationem similique id obcaecati non. Nulla ea ratione possimus aliquid, molestiae in dicta impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae esse, quo fugiat quaerat distinctio beatae iure repellendus rem natus quibusdam, quasi consequatur accusantium libero eius doloribus illum exercitationem eaque itaque!"
        })
